<!DOCTYPE html>
<html>
<head>
    <title>How It Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div><b>🔐 CipherX</b></div>
    <div>
        <a href="/">Home</a>
        <a href="/cipher">Tool</a>
        <a href="/history">History</a>
        <a href="/working">Working</a>
        <a href="/about">About</a>
    </div>
</nav>

<div class="container">

    <h1>🔐 How Caesar Cipher Works</h1>

    <h3>📌 Basic Idea</h3>
    <p>
        Each letter in the message is shifted by a fixed number of positions
        in the alphabet.
    </p>

    <br>

    <h3>📊 Example</h3>

    <div class="card">
        <p><b>Original:</b> HELLO</p>
        <p><b>Shift:</b> 3</p>
        <p><b>Encrypted:</b> KHOOR</p>
    </div>

    <br>

    <h3>🧮 Formula</h3>

    <div class="card">
        <p>
            (Character Position + Shift) mod 26
        </p>
    </div>

    <br>

    <h3>🔁 Decryption</h3>

    <p>
        Decryption simply reverses the shift.
    </p>

    <div class="card">
        <p><b>KHOOR → HELLO</b></p>
        <p>Shift = -3</p>
    </div>

    <br>

    <h3>⚡ Why it matters</h3>

    <p>
        Caesar Cipher is the foundation of modern cryptography concepts like
        substitution ciphers and symmetric encryption.
    </p>

</div>

</body>
</html>